################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameMaster.Models/.vs/GameMaster.Models/v16
